/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Reset and universal font */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0;
}

/* Layout structure */
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Navbar styles */
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 30px;
	gap: 20px;
	background-color: #133e87;
	flex-wrap: wrap;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.navbar .logo {
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.navbar .logo img {
	width: 48px;
}

.navbar-item {
	display: flex;
	align-items: center;
	color: #f3f3e0;
	text-decoration: none;
}

.nav-links {
	display: flex;
	gap: 2px;
	flex-wrap: nowrap;
	flex-direction: row;
}

/* Navbar link styles */
nav a {
	padding: 5px 10px;
	transition: all 0.5s; /* Smooth transition */
	border-radius: 20px;
	background-color: transparent;
}

.nav-links a:hover {
	background-color: #f3f3e0;
	color: #133e87;
}

/* Login button */
.login {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f3f3e0;
	color: #133e87;
	gap: 2px;
	border-radius: 40px;
	font-weight: 600;
}

.login img {
	width: 32px;
}

.login:hover {
	background-color: #cbdceb;
	transform: scale(0.95); /* Slight shrink effect */
	transform: translateX(5px); /* Shift horizontally */
}

/* Main content area */
.main-content {
	height: 100vh;
	overflow: auto;
	background-color: #cbdceb;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 1rem;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.banner {
	text-align: center;
	border-radius: 40px;
	color: #133e87;
	margin-bottom: 4rem;
	margin-top: 2rem;
}

/* Action button */
.action-button {
	background-color: #133e87;
	color: #f3f3e0;
	border: none;
	padding: 14px 20px;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.5s;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 2rem;
	box-shadow: 3px 10px 18px 6px rgba(243, 243, 224, 0.66);
}

.action-button:hover {
	background-color: #f3f3e0;
	transform: scale(1.05); /* Slightly enlarges */
	transform: translateY(-5px); /* Moves button up */
	color: #133e87;
}

/* General container */
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	color: #133e87;
}

.container img {
	width: 128px;
	margin-bottom: 14px;
}

.container-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

/* Sidebars */
.sidebar-left,
.sidebar-right {
	overflow-x: auto;
	background-color: #f3f3e0;
	display: flex;
	flex-direction: row;
}

/* Box sections in sidebars */
.currency-box,
.user,
.wallet,
.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px;
	gap: 20px;
	color: #133e87;
	border-right: 1px solid #133e87;
}
.currency-box img {
	width: 32px;
}

/* Custom scrollbars */
.sidebar-left::-webkit-scrollbar,
.sidebar-right::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
	height: 4px;
	width: 6px;
}

.sidebar-left::-webkit-scrollbar-track,
.sidebar-right::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #cbdceb;
}

.sidebar-left::-webkit-scrollbar-thumb,
.sidebar-right::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
	background-color: #133e87;
	border-radius: 40px;
}

/* Currency and user info */
.currency,
.currency-info {
	flex-direction: column;
	display: flex;
	justify-content: center;
	color: #133e87;
}

.currency {
	align-items: center;
	gap: 5px;
}

.user img {
	width: 48px;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 5px;
	color: #133e87;
}

/* User and wallet buttons */
.user-info button,
.wallet-buttons button {
	background-color: #133e87;
	color: #f3f3e0;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}

.user-info button:hover,
.wallet-buttons button:hover {
	background-color: #cbdceb;
	color: #133e87;
}

.wallet img {
	width: 48px;
}

.balance {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wallet-buttons {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/* Action section */
.action {
	white-space: nowrap;
	background-color: #cbdceb;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #133e87;
}

/* Footer styles */
.footer {
	background-color: #133e87;
	color: #f3f3e0;
	text-align: center;
	padding: 2rem 1rem;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.footer-content p {
	font-weight: 700;
}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-direction: column;
}

/* Footer link styles */
.link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.footer-link {
	color: #cbdceb;
	text-decoration: none;
}

.footer-link.disabled {
	color: #000;
	cursor: default; /* Disabled state */
}

/* Media query for small devices */
@media screen and (min-width: 576px) {
	/* Larger padding for nav links */
	nav a {
		padding: 10px 20px;
	}

	/* Increase gap between links */
	.nav-links {
		gap: 10px;
	}

	/* Sidebar adjustments */
	.sidebar-left,
	.sidebar-right {
		flex-direction: column;
		padding: 7px;
		gap: 10px;
		height: 100vh;
	}

	/* gap increase for right sidebar */
	.sidebar-right {
		gap: 40px;
	}

	/* Content section layout change to row*/
	.content {
		flex-direction: row;
	}

	/* Currency box styling */
	.currency-box {
		flex-direction: column;
		gap: 5px;
		background-color: #cbdceb;
		border-radius: 15px;
	}

	.currency-box,
	.wallet,
	.user,
	.actions {
		border: none;
	}

	/* Adjust gap in actions section */
	.actions {
		gap: 10px;
	}

	/* Align items in vertical layout */
	.wallet,
	.actions,
	.user,
	.user-info {
		flex-direction: column;
		padding: 0;
		align-items: center;
	}

	/* Full width for action buttons */
	.action {
		width: 100%;
	}
}

/* Media query for medium devices */
@media screen and (min-width: 768px) {
	/* Navbar adjustments */
	.navbar {
		justify-content: space-around;
		padding: 30px 40px;
	}

	/* Sidebar gap */
	.sidebar-right {
		gap: 60px;
	}

	/* Add padding and bg color to right sidebar elements */
	.user,
	.wallet,
	.actions {
		padding: 12px 6px;
		background-color: #cbdceb;
		border-radius: 15px;
	}

	/* Banner styling */
	.banner {
		background-color: #133e87;
		color: #cbdceb;
		padding: 10px 20px;
	}

	/* Footer links changed to rows */
	.footer-links {
		flex-direction: row;
		align-items: start;
		justify-content: space-around;
		width: 100%;
	}

	/* Increase gap in footer content */
	.footer-content {
		gap: 50px;
	}
}

/* Media query for large devices */
@media screen and (min-width: 1024px) {
	/* Sidebar padding and gap */
	.sidebar-left,
	.sidebar-right {
		gap: 20px;
		padding: 20px;
	}

	/* Increase padding of right sidebar elements */
	.user,
	.wallet,
	.actions {
		padding: 20px;
	}

	/* Increase gap in the main container */
	.main-container {
		gap: 80px;
	}

	/* Increase padding for banner */
	.banner {
		padding: 20px 40px;
	}

	/* Action button padding and font size */
	.action-button {
		padding: 20px 40px;
		font-size: 24px;
	}

	/* Footer padding adjustments */
	.footer {
		padding: 5rem 2rem 2rem;
	}

	/* Larger gap in footer content */
	.footer-content {
		gap: 100px;
	}
}

/* Media query for extra large devices*/
@media screen and (min-width: 1280px) {
	/* Align container content to the start */
	.container,
	.container-content {
		justify-content: start;
		align-items: start;
		text-align: start;
	}

	/* Add padding to main container */
	.main-container {
		padding: 2rem 7rem;
	}
}
